@page "/medicines"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DataAccess
@using PharmacyWeb.Data
@implements IAsyncDisposable
@inject IDbContextFactory<PharmacyWeb.Data.PharmacyWebContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Medicine</h1>

<p>
    <a href="medicines/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.MEDICINE.AsQueryable()">
    <PropertyColumn Property="medicine => medicine.MName" Title="Name" Sortable="true" />
    <PropertyColumn Property="medicine => medicine.MType" Title="Type" Sortable="true" />
    <PropertyColumn Property="medicine => medicine.Amount" Title="Amount" Sortable="true" />
    <PropertyColumn Property="medicine => medicine.Price_in_TL" Title="Price in TL" Sortable="true" />
    <PropertyColumn Property="medicine => medicine.Pharmacy_ID" Title="Pharmacy ID" Sortable="true" />
    <PropertyColumn Property="medicine => medicine.MC_ID" Title="Medicine Company ID" Sortable="true" />

    <TemplateColumn Context="medicine">
        <a href="@($"medicines/edit?id={medicine.ID}")">Edit</a> |
        <a href="@($"medicines/details?id={medicine.ID}")">Details</a> |
        <a href="@($"medicines/delete?id={medicine.ID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private PharmacyWebContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
