@page "/employees/create"
@using Microsoft.EntityFrameworkCore
@using DataAccess
@inject IDbContextFactory<PharmacyWeb.Data.PharmacyWebContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>EMPLOYEE</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="EMPLOYEE" OnValidSubmit="AddEMPLOYEE" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="ename" class="form-label">Name:</label> 
                <InputText id="ename" @bind-Value="EMPLOYEE.EName" class="form-control" /> 
                <ValidationMessage For="() => EMPLOYEE.EName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="gender" class="form-label">Gender:</label> 
                <InputText id="gender" @bind-Value="EMPLOYEE.Gender" class="form-control" /> 
                <ValidationMessage For="() => EMPLOYEE.Gender" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="phone_number" class="form-label">Phone Number:</label> 
                <InputText id="phone_number" @bind-Value="EMPLOYEE.Phone_number" class="form-control" /> 
                <ValidationMessage For="() => EMPLOYEE.Phone_number" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="mc_id" class="form-label">Medicine Company ID:</label> 
                <InputNumber id="mc_id" @bind-Value="EMPLOYEE.MC_ID" class="form-control" /> 
                <ValidationMessage For="() => EMPLOYEE.MC_ID" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="leader_id" class="form-label">Leader ID:</label> 
                <InputNumber id="leader_id" @bind-Value="EMPLOYEE.Leader_ID" class="form-control" /> 
                <ValidationMessage For="() => EMPLOYEE.Leader_ID" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/employees">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private EMPLOYEE EMPLOYEE { get; set; } = default!;

    protected override void OnInitialized() => EMPLOYEE ??= new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddEMPLOYEE()
    {
        using var context = DbFactory.CreateDbContext();
        context.EMPLOYEE.Add(EMPLOYEE);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/employees");
    }
}
