@page "/customers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DataAccess
@using PharmacyWeb.Data
@implements IAsyncDisposable
@inject IDbContextFactory<PharmacyWeb.Data.PharmacyWebContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Customer</h1>

<p>
    <a href="customers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.CUSTOMER.AsQueryable()">
    <PropertyColumn Property="customer => customer.CName" Title="Name" Sortable="true" />
    <PropertyColumn Property="customer => customer.SSN" Sortable="true" />
    <PropertyColumn Property="@(customer => customer.Gender == "F" ? "Female" : (customer.Gender == "M" ? "Male" : "N/A"))" Title="Gender" Sortable="true" />
    <PropertyColumn Property="customer => customer.Birth_date" Title="Birth Date" Sortable="true" />

    <TemplateColumn Context="customer">
        <a href="@($"customers/edit?ssn={customer.SSN}")">Edit</a> |
        <a href="@($"customers/details?ssn={customer.SSN}")">Details</a> |
        <a href="@($"customers/delete?ssn={customer.SSN}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private PharmacyWebContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
